/AbdeMotor/nbproject/private/
/AbdeMotor/build/
/EjerciciosPropuestosClase/nbproject/private/
/EjerciciosPropuestosClase/build/
/AbdeMotor/dist/
/ExamenUD1AbdelHachim/nbproject/private/
/ExamenUD1AbdelHachim/build/
/MVC/nbproject/private/
/MVC/target/
/PracticaPSPClase/nbproject/private/
/PracticaPSPClase/build/
/RelacionEjerciciosAD/nbproject/private/
/RelacionEjerciciosAD/build/
/ProyectoPrueba/nbproject/private/
/ActividadPropuesta2.5/nbproject/private/
/ActividadPropuesta2.5/build/
/ProyectoPrueba/build/
/ProyectoPrueba/dist/
/ActividadPropuesta27/nbproject/private/
/ActividadPropuesta27/build/
