/AbdeMotor/nbproject/private/
/AbdeMotor/build/
/EjerciciosPropuestosClase/nbproject/private/
/EjerciciosPropuestosClase/build/
/AbdeMotor/dist/
/ExamenUD1AbdelHachim/nbproject/private/
/ExamenUD1AbdelHachim/build/
/MVC/nbproject/private/
/MVC/target/
/PracticaPSPClase/nbproject/private/
/PracticaPSPClase/build/
/RelacionEjerciciosAD/nbproject/private/
/RelacionEjerciciosAD/build/
